[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/Trijal08/rtl8812au.git
	branch = v5.6.4.2
[submodule "drivers/net/can/usb-can-2-module"]
	path = drivers/net/can/usb-can-2-module
	url = https://github.com/V0lk3n/usb-can-2-module
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/Trijal08/KernelSU.git
	branch = master-susfs
