[submodule "v4l2loopback"]
	path = v4l2loopback
	url = https://github.com/v4l2loopback/v4l2loopback.git
	branch = main
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
	branch = main
[submodule "vpnhide-driver"]
	path = vpnhide-driver
	url = https://github.com/cyberc3dr/vpnhide-driver
	branch = main
